@import url('https://fonts.googleapis.com/css?family=Italiana&display=swap');
@import url('//cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.css');
@import url('//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css');

:root {
    position: relative;
    height: 100%;
    /* it was 115% before */
    background: linear-gradient(239.25deg, #ECF2FF -9.78%, #756060 16.21%, #756060 85.49%, #ECF2FF 110.24%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

body {
    overscroll-behavior: none;
    margin: 0;
}


#splashScreenBackground {
    position: relative;
    width: 100%;
    height: 1024px;
    background: linear-gradient(180deg, #000000 0%, #ECF2FF 0.01%, #ECF2FF 100%);
}

#homePageBackground {
    position: relative;
    width: 100%;
    height: 1024px;
    /* height: 966px; */
    background: #ECF2FF;
}

#box {
    box-sizing: border-box;
    position: absolute;
    width: 85%;
    height: 70%;
    left: 8%;
    top: 150px;

    background: rgba(217, 217, 217, 0.78);
    /* border: 1px solid #000000; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

#publicBox {
    box-sizing: border-box;
    position: absolute;
    width: 96%;
    height: 87%;
    left: 2%;
    top: 10%;

    background: rgba(217, 217, 217, 0.78);
    /* border: 1px solid #000000; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

#mapBox {
    box-sizing: border-box;
    position: absolute;
    width: 96%;
    height: 50%;
    left: 2%;
    top: 10%;
    background: rgba(217, 217, 217, 0.78);
    /* border: 1px solid #000000; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

#mapBoxEdit {
    box-sizing: border-box;
    position: relative;
    width: 76%;
    height: 50%;
    left: 15%;
    top: 10%;
    background: rgba(217, 217, 217, 0.78);
    /* border: 1px solid #000000; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

#statusBox {
    box-sizing: border-box;
    position: absolute;
    width: 96%;
    height: 30%;
    left: 2%;
    top: 40%;
}

#statusBoxEdit {
    box-sizing: border-box;
    position: absolute;
    width: 76%;
    height: 0px;
    left: 15%;
    top: 8%;
}

#mapContainer {
    z-index: 0;
}

img {
    position: absolute;
    width: 111.26px;
    height: 113.26px;
    left: 49%;
    top: 15px;
    /* max-width: 100%; */
    /* height: auto; */
}

#mainlogo {
    position: absolute;
    width: 124.26px;
    height: 131.26px;
    left: 933px;
    top: 41px;
}

#account {
    position: absolute;
    width: 40%;
    height: 66px;
    left: 33%;
    top: 5%;

    font-family: 'Italiana', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 4vw;
    line-height: 59px;
    text-align: center;

    color: #000000;
}

#public {
    position: absolute;
    width: 40%;
    left: 3%;
    top: 1%;

    font-family: 'Italiana', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3vw;
    /* line-height: 59px; */
    text-align: left;

    color: #000000;
}

#map-cards-list {
    top: 18%;
    left: 1.8%;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

#published-listItemMapCard {
    height: 35%;
    flex-basis: 1%;
    /* Set the width of each list item */
    margin-bottom: 10px;
    /* Add some margin between list items */
    padding: 10px;
    margin-right: 5%;
    word-break: break-word;
}

#unpublished-listItemMapCard {
    height: 35%;
    flex-basis: 1%;
    /* Set the width of each list item */
    margin-bottom: 10px;
    /* Add some margin between list items */
    padding: 10px;
    margin-right: 5%;
    word-break: break-word;
}

#cardTitle {
    font-family: 'Italiana', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 3vw;
    text-align: left;
    margin-left: 10px;
    top: 2%;
    white-space: nowrap;
    white-space: normal;
    display: block;
    /* z-index: 1; */
}

#mapCard1 {
    position: relative;
    width: 257px;
    height: 330px;
    overflow: hidden;
    background: #FFFFFF;
    border-radius: 5px;
    transition: background 0.8s ease, transform 0.5s ease;
}

#mapCard2 {
    position: relative;
    width: 257px;
    height: 330px;
    overflow: hidden;
    background: #E7EDFA;
    border-radius: 5px;
    transition: background 0.8s ease, transform 0.5s ease;
}

#mapCard1:hover {
    background: rgba(117, 96, 96, 0.75);
    transform: scale(1.05);
}

#mapCard2:hover {
    background: rgba(117, 96, 96, 0.75);
    transform: scale(1.05);
}

#line {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 3%;
    top: 13%;

    border: 5px solid #000000;
    border-right-width: 103px;
    border-top-width: 1px;
}

#splashpage-line {
    position: absolute;
    width: 704px;
    height: 0px;
    left: 400px;
    top: 600px;

    border: 1px solid #000000;
    transform: rotate(90deg);
}

#map-card-line {
    position: relative;
    width: 0px;
    height: 0px;
    left: 5%;
    border: 5px solid #000000;
    border-right-width: 103px;
    border-top-width: 1px;
}

#map-card-author {
    position: relative;
    font-family: 'Italiana', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.8vh;
    left: 3%;
    margin-bottom: 1%;
}

#map-card-image {
    position: relative;
    width: 250px;
    height: 158.8px;
    left: 1%;
    top: 0;
}


section {
    position: absolute;
    width: 631px;
    height: 113px;
    left: 345px;
    top: 59px;

    font-family: 'Italiana';
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 118px;
    text-align: center;

    color: #000000;
}

#subtitle {
    position: absolute;
    width: 573px;
    height: 51px;
    left: 32px;
    top: 286px;

    font-family: 'Italiana';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 45px;
    text-decoration-line: underline;

    color: #000000;
}

#subtext {
    position: absolute;
    width: 548px;
    height: 107px;
    left: 36px;
    top: 337px;

    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 39px;
    text-align: left;
    color: #000000;

}

input:focus {
    outline: none;
    font-size: 1vw;
}

input {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 1vw;
    line-height: 10px;

}

/* .my-input::placeholder {
    opacity: 0.5;
  }

.my-input::selection {
    opacity: 0.5;
  } */



#firstName {
    position: absolute;
    width: 15%;
    height: 7%;
    left: 35%;
    top: 24%;
    background: #ECF2FF;
    border-radius: 5px;
    border-style: none;
}

#lastName {
    position: absolute;
    width: 15%;
    height: 7%;
    left: 55%;
    top: 24%;
    background: #ECF2FF;
    border-radius: 5px;
    border-style: none;
}

#username {
    position: absolute;
    width: 21.5%;
    height: 7%;
    top: 39%;
    left: 41.5%;
    background: #ECF2FF;
    border-radius: 5px;
    border-style: none;
}

#email {
    position: absolute;
    width: 21.5%;
    height: 7%;
    left: 41.5%;
    top: 50%;

    background: #ECF2FF;
    border-radius: 5px;
    border-style: none;
}

#password {
    position: absolute;
    width: 21.5%;
    height: 7%;
    left: 41.5%;
    top: 61%;

    background: #ECF2FF;
    border-radius: 5px;
    border-style: none;
}

#repassword {
    position: absolute;
    width: 21.5%;
    height: 7%;
    left: 41.5%;
    top: 71%;

    background: #ECF2FF;
    border-radius: 5px;
    border-style: none;
}

#register {
    position: absolute;
    width: 12%;
    height: 8%;
    left: 47%;
    top: 85%;
    background: #FDE66B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

#login {
    position: absolute;
    width: 40%;
    height: 66px;
    left: 33%;
    top: 5%;

    font-family: 'Italiana', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 4vw;
    line-height: 59px;
    text-align: center;

    color: #000000;
}

#loginButton {
    position: absolute;
    width: 12%;
    height: 9%;
    left: 47%;
    top: 75%;
    background: #FDE66B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

#loginInput {
    position: absolute;
    width: 21.5%;
    height: 9%;
    top: 35%;
    left: 41.5%;
    background: #ECF2FF;
    border-radius: 5px;
    border-style: none;
}

#loginPassword {
    position: absolute;
    width: 21.5%;
    height: 9%;
    left: 41.5%;
    top: 53%;

    background: #ECF2FF;
    border-radius: 5px;
    border-style: none;
}

#text {

    font-family: 'Italiana', serif;
    font-style: normal;
    font-weight: 600;
    /* font-size: 22px; */
    line-height: 26px;
    text-align: center;
    color: #000000;
    font-size: 1.5vw;


}

#guestButton {

    box-sizing: border-box;

    position: absolute;
    width: 247px;
    height: 70px;
    left: 184px;
    top: 550px;

    background: #E5D1FA;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

#logButton {

    position: absolute;
    width: 247px;
    height: 70px;
    left: 184px;
    top: 650px;

    background: #E5D1FA;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}


#regButton {

    box-sizing: border-box;

    position: absolute;
    width: 247px;
    height: 70px;
    left: 184px;
    top: 750px;

    background: #E5D1FA;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

#globeLogo {
    position: absolute;
    width: 700px;
    height: 775px;
    left: 750px;
    top: 200px;

}

#navBar {
    position: absolute;
    width: 100%;
    height: 236px;

    background: linear-gradient(180deg, #756060 81.46%, #ECF2FF 100%);
}

#appBar {
    position: absolute;
    z-index: 5;
    background: #756060;
}

#toolBar {
    padding-left: 0;
    padding-right: 0;
}

.sr-only {
    display: none;
}

#editBox {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 12%;
    background: #756060;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

#map-edit-title {
    position: relative;
    font-family: 'Italiana', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 2.9vh;
    color: rgba(236, 242, 255, 1);
    margin-bottom: 1%;
    top: 5%;
    left: 25%;
}

#map-edit-title {
    position: relative;
    font-family: 'Italiana', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 2.9vh;
    color: rgba(236, 242, 255, 1);
    margin-bottom: 1%;
    top: 5%;
    left: 25%;
}

#edit-line {
    position: absolute;
    width: 80%;
    height: 0px;
    left: 9%;
    top: 12%;
    border: 1px solid #000000;
}

#editPanel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 15px;
}

#edit-line2 {
    position: absolute;
    width: 80%;
    height: 0px;
    left: 9%;
    top: 63%;
    border: 1px solid #000000;
}

#edit-line3 {
    position: absolute;
    width: 80%;
    height: 0px;
    left: 9%;
    top: 76%;
    border: 1px solid #000000;
}

#publishButton {
    position: absolute;
    width: 75%;
    height: 5%;
    left: 10%;
    top: 80%;
    background: #FDE66B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

#map-statusbar {
    position: absolute;
    left: 0%;
    top: 95%;
    width: 100%;
    height: 10%;
    background: rgba(217, 217, 217, 0.78);
    font-family: 'Italiana', serif;
    font-weight: 800;
    color: black;
    display: flex;
    align-items: center;
    font-size: 25pt;
    justify-content: center;
}

#modal-top {
    position: absolute;
    width: 423px;
    height: 71px;
    left: 0px;
    top: 0px;
    background: #756060;
    border-radius: 1px;
}

#modal-heading {
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 21px;
    color: #000000;
}

#modal-text {
    font-family: 'Italiana';
    font-weight: normal;
    font-size: 15px;
    color: #000000;
}

#modal-textfield {
    width: 332px;
    height: 4px;
    background: #D9D9D9;
    border-radius: 10px;
}

#modal-button {
    width: 78px;
    height: 27px;
    background: #FDE66B;
    font-family: 'Italiana';
    font-weight: 600;
    color: #000000;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
    text-transform: none;
}

#commentName {
    font-family: 'Italiana', serif;
    font-weight: 900;
}

#commentsTabTitle{
    font-family: 'Italiana', serif;
    text-decoration: underline;
    display: inline;
    font-weight: 900;
}

/* #commentText {
    
} */